*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 30vh;
  min-height: 100vh;
}

.waiting-title {
  font-size: 1.5rem;
  animation: appear 5s ease-out;
}

.congratulation {
  display: block;
  padding-block: 3rem;
  padding-inline: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 70vw;
  text-align: center;
  text-wrap: balance;
  animation: 4s ease-out appear;
  opacity: 100%;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content button {
  background: orange;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.content button:hover {
  background: rgb(196, 127, 0);
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 214px -318.6666666667px hsl(40, 100%, 50%), 214px -251.6666666667px hsl(103, 100%, 50%), -46px -25.6666666667px hsl(242, 100%, 50%), -201px -86.6666666667px hsl(328, 100%, 50%), -193px 55.3333333333px hsl(304, 100%, 50%), -18px -75.6666666667px hsl(153, 100%, 50%), 137px 2.3333333333px hsl(244, 100%, 50%), -196px -133.6666666667px hsl(194, 100%, 50%), 143px -352.6666666667px hsl(222, 100%, 50%), 94px -126.6666666667px hsl(265, 100%, 50%), 175px -139.6666666667px hsl(39, 100%, 50%), 55px -368.6666666667px hsl(175, 100%, 50%), -88px -322.6666666667px hsl(102, 100%, 50%), -112px 47.3333333333px hsl(227, 100%, 50%), -146px -136.6666666667px hsl(108, 100%, 50%), 125px -133.6666666667px hsl(72, 100%, 50%), -32px 33.3333333333px hsl(7, 100%, 50%), 222px -339.6666666667px hsl(180, 100%, 50%), 221px 81.3333333333px hsl(326, 100%, 50%), 126px 4.3333333333px hsl(53, 100%, 50%), 90px -51.6666666667px hsl(227, 100%, 50%), 89px -323.6666666667px hsl(23, 100%, 50%), 149px -208.6666666667px hsl(290, 100%, 50%), -165px -107.6666666667px hsl(222, 100%, 50%), 53px -282.6666666667px hsl(64, 100%, 50%), 9px -189.6666666667px hsl(251, 100%, 50%), -169px 25.3333333333px hsl(280, 100%, 50%), -172px -371.6666666667px hsl(85, 100%, 50%), -201px -147.6666666667px hsl(8, 100%, 50%), -226px 82.3333333333px hsl(329, 100%, 50%), -40px -393.6666666667px hsl(29, 100%, 50%), -127px -42.6666666667px hsl(94, 100%, 50%), 81px -262.6666666667px hsl(116, 100%, 50%), 87px -179.6666666667px hsl(26, 100%, 50%), 33px 58.3333333333px hsl(345, 100%, 50%), 218px -149.6666666667px hsl(327, 100%, 50%), -161px -161.6666666667px hsl(13, 100%, 50%), 207px -162.6666666667px hsl(51, 100%, 50%), -78px -159.6666666667px hsl(291, 100%, 50%), 59px -20.6666666667px hsl(276, 100%, 50%), 230px -49.6666666667px hsl(339, 100%, 50%), 234px -9.6666666667px hsl(200, 100%, 50%), -242px 38.3333333333px hsl(254, 100%, 50%), -72px -0.6666666667px hsl(94, 100%, 50%), 63px 79.3333333333px hsl(86, 100%, 50%), 18px -350.6666666667px hsl(301, 100%, 50%), 118px -325.6666666667px hsl(54, 100%, 50%), -92px -95.6666666667px hsl(212, 100%, 50%), 123px 82.3333333333px hsl(49, 100%, 50%), 120px -400.6666666667px hsl(204, 100%, 50%), -211px -315.6666666667px hsl(115, 100%, 50%);
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 214px -318.6666666667px hsl(40, 100%, 50%), 214px -251.6666666667px hsl(103, 100%, 50%), -46px -25.6666666667px hsl(242, 100%, 50%), -201px -86.6666666667px hsl(328, 100%, 50%), -193px 55.3333333333px hsl(304, 100%, 50%), -18px -75.6666666667px hsl(153, 100%, 50%), 137px 2.3333333333px hsl(244, 100%, 50%), -196px -133.6666666667px hsl(194, 100%, 50%), 143px -352.6666666667px hsl(222, 100%, 50%), 94px -126.6666666667px hsl(265, 100%, 50%), 175px -139.6666666667px hsl(39, 100%, 50%), 55px -368.6666666667px hsl(175, 100%, 50%), -88px -322.6666666667px hsl(102, 100%, 50%), -112px 47.3333333333px hsl(227, 100%, 50%), -146px -136.6666666667px hsl(108, 100%, 50%), 125px -133.6666666667px hsl(72, 100%, 50%), -32px 33.3333333333px hsl(7, 100%, 50%), 222px -339.6666666667px hsl(180, 100%, 50%), 221px 81.3333333333px hsl(326, 100%, 50%), 126px 4.3333333333px hsl(53, 100%, 50%), 90px -51.6666666667px hsl(227, 100%, 50%), 89px -323.6666666667px hsl(23, 100%, 50%), 149px -208.6666666667px hsl(290, 100%, 50%), -165px -107.6666666667px hsl(222, 100%, 50%), 53px -282.6666666667px hsl(64, 100%, 50%), 9px -189.6666666667px hsl(251, 100%, 50%), -169px 25.3333333333px hsl(280, 100%, 50%), -172px -371.6666666667px hsl(85, 100%, 50%), -201px -147.6666666667px hsl(8, 100%, 50%), -226px 82.3333333333px hsl(329, 100%, 50%), -40px -393.6666666667px hsl(29, 100%, 50%), -127px -42.6666666667px hsl(94, 100%, 50%), 81px -262.6666666667px hsl(116, 100%, 50%), 87px -179.6666666667px hsl(26, 100%, 50%), 33px 58.3333333333px hsl(345, 100%, 50%), 218px -149.6666666667px hsl(327, 100%, 50%), -161px -161.6666666667px hsl(13, 100%, 50%), 207px -162.6666666667px hsl(51, 100%, 50%), -78px -159.6666666667px hsl(291, 100%, 50%), 59px -20.6666666667px hsl(276, 100%, 50%), 230px -49.6666666667px hsl(339, 100%, 50%), 234px -9.6666666667px hsl(200, 100%, 50%), -242px 38.3333333333px hsl(254, 100%, 50%), -72px -0.6666666667px hsl(94, 100%, 50%), 63px 79.3333333333px hsl(86, 100%, 50%), 18px -350.6666666667px hsl(301, 100%, 50%), 118px -325.6666666667px hsl(54, 100%, 50%), -92px -95.6666666667px hsl(212, 100%, 50%), 123px 82.3333333333px hsl(49, 100%, 50%), 120px -400.6666666667px hsl(204, 100%, 50%), -211px -315.6666666667px hsl(115, 100%, 50%);
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 214px -318.6666666667px hsl(40, 100%, 50%), 214px -251.6666666667px hsl(103, 100%, 50%), -46px -25.6666666667px hsl(242, 100%, 50%), -201px -86.6666666667px hsl(328, 100%, 50%), -193px 55.3333333333px hsl(304, 100%, 50%), -18px -75.6666666667px hsl(153, 100%, 50%), 137px 2.3333333333px hsl(244, 100%, 50%), -196px -133.6666666667px hsl(194, 100%, 50%), 143px -352.6666666667px hsl(222, 100%, 50%), 94px -126.6666666667px hsl(265, 100%, 50%), 175px -139.6666666667px hsl(39, 100%, 50%), 55px -368.6666666667px hsl(175, 100%, 50%), -88px -322.6666666667px hsl(102, 100%, 50%), -112px 47.3333333333px hsl(227, 100%, 50%), -146px -136.6666666667px hsl(108, 100%, 50%), 125px -133.6666666667px hsl(72, 100%, 50%), -32px 33.3333333333px hsl(7, 100%, 50%), 222px -339.6666666667px hsl(180, 100%, 50%), 221px 81.3333333333px hsl(326, 100%, 50%), 126px 4.3333333333px hsl(53, 100%, 50%), 90px -51.6666666667px hsl(227, 100%, 50%), 89px -323.6666666667px hsl(23, 100%, 50%), 149px -208.6666666667px hsl(290, 100%, 50%), -165px -107.6666666667px hsl(222, 100%, 50%), 53px -282.6666666667px hsl(64, 100%, 50%), 9px -189.6666666667px hsl(251, 100%, 50%), -169px 25.3333333333px hsl(280, 100%, 50%), -172px -371.6666666667px hsl(85, 100%, 50%), -201px -147.6666666667px hsl(8, 100%, 50%), -226px 82.3333333333px hsl(329, 100%, 50%), -40px -393.6666666667px hsl(29, 100%, 50%), -127px -42.6666666667px hsl(94, 100%, 50%), 81px -262.6666666667px hsl(116, 100%, 50%), 87px -179.6666666667px hsl(26, 100%, 50%), 33px 58.3333333333px hsl(345, 100%, 50%), 218px -149.6666666667px hsl(327, 100%, 50%), -161px -161.6666666667px hsl(13, 100%, 50%), 207px -162.6666666667px hsl(51, 100%, 50%), -78px -159.6666666667px hsl(291, 100%, 50%), 59px -20.6666666667px hsl(276, 100%, 50%), 230px -49.6666666667px hsl(339, 100%, 50%), 234px -9.6666666667px hsl(200, 100%, 50%), -242px 38.3333333333px hsl(254, 100%, 50%), -72px -0.6666666667px hsl(94, 100%, 50%), 63px 79.3333333333px hsl(86, 100%, 50%), 18px -350.6666666667px hsl(301, 100%, 50%), 118px -325.6666666667px hsl(54, 100%, 50%), -92px -95.6666666667px hsl(212, 100%, 50%), 123px 82.3333333333px hsl(49, 100%, 50%), 120px -400.6666666667px hsl(204, 100%, 50%), -211px -315.6666666667px hsl(115, 100%, 50%);
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 214px -318.6666666667px hsl(40, 100%, 50%), 214px -251.6666666667px hsl(103, 100%, 50%), -46px -25.6666666667px hsl(242, 100%, 50%), -201px -86.6666666667px hsl(328, 100%, 50%), -193px 55.3333333333px hsl(304, 100%, 50%), -18px -75.6666666667px hsl(153, 100%, 50%), 137px 2.3333333333px hsl(244, 100%, 50%), -196px -133.6666666667px hsl(194, 100%, 50%), 143px -352.6666666667px hsl(222, 100%, 50%), 94px -126.6666666667px hsl(265, 100%, 50%), 175px -139.6666666667px hsl(39, 100%, 50%), 55px -368.6666666667px hsl(175, 100%, 50%), -88px -322.6666666667px hsl(102, 100%, 50%), -112px 47.3333333333px hsl(227, 100%, 50%), -146px -136.6666666667px hsl(108, 100%, 50%), 125px -133.6666666667px hsl(72, 100%, 50%), -32px 33.3333333333px hsl(7, 100%, 50%), 222px -339.6666666667px hsl(180, 100%, 50%), 221px 81.3333333333px hsl(326, 100%, 50%), 126px 4.3333333333px hsl(53, 100%, 50%), 90px -51.6666666667px hsl(227, 100%, 50%), 89px -323.6666666667px hsl(23, 100%, 50%), 149px -208.6666666667px hsl(290, 100%, 50%), -165px -107.6666666667px hsl(222, 100%, 50%), 53px -282.6666666667px hsl(64, 100%, 50%), 9px -189.6666666667px hsl(251, 100%, 50%), -169px 25.3333333333px hsl(280, 100%, 50%), -172px -371.6666666667px hsl(85, 100%, 50%), -201px -147.6666666667px hsl(8, 100%, 50%), -226px 82.3333333333px hsl(329, 100%, 50%), -40px -393.6666666667px hsl(29, 100%, 50%), -127px -42.6666666667px hsl(94, 100%, 50%), 81px -262.6666666667px hsl(116, 100%, 50%), 87px -179.6666666667px hsl(26, 100%, 50%), 33px 58.3333333333px hsl(345, 100%, 50%), 218px -149.6666666667px hsl(327, 100%, 50%), -161px -161.6666666667px hsl(13, 100%, 50%), 207px -162.6666666667px hsl(51, 100%, 50%), -78px -159.6666666667px hsl(291, 100%, 50%), 59px -20.6666666667px hsl(276, 100%, 50%), 230px -49.6666666667px hsl(339, 100%, 50%), 234px -9.6666666667px hsl(200, 100%, 50%), -242px 38.3333333333px hsl(254, 100%, 50%), -72px -0.6666666667px hsl(94, 100%, 50%), 63px 79.3333333333px hsl(86, 100%, 50%), 18px -350.6666666667px hsl(301, 100%, 50%), 118px -325.6666666667px hsl(54, 100%, 50%), -92px -95.6666666667px hsl(212, 100%, 50%), 123px 82.3333333333px hsl(49, 100%, 50%), 120px -400.6666666667px hsl(204, 100%, 50%), -211px -315.6666666667px hsl(115, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 214px -318.6666666667px hsl(40, 100%, 50%), 214px -251.6666666667px hsl(103, 100%, 50%), -46px -25.6666666667px hsl(242, 100%, 50%), -201px -86.6666666667px hsl(328, 100%, 50%), -193px 55.3333333333px hsl(304, 100%, 50%), -18px -75.6666666667px hsl(153, 100%, 50%), 137px 2.3333333333px hsl(244, 100%, 50%), -196px -133.6666666667px hsl(194, 100%, 50%), 143px -352.6666666667px hsl(222, 100%, 50%), 94px -126.6666666667px hsl(265, 100%, 50%), 175px -139.6666666667px hsl(39, 100%, 50%), 55px -368.6666666667px hsl(175, 100%, 50%), -88px -322.6666666667px hsl(102, 100%, 50%), -112px 47.3333333333px hsl(227, 100%, 50%), -146px -136.6666666667px hsl(108, 100%, 50%), 125px -133.6666666667px hsl(72, 100%, 50%), -32px 33.3333333333px hsl(7, 100%, 50%), 222px -339.6666666667px hsl(180, 100%, 50%), 221px 81.3333333333px hsl(326, 100%, 50%), 126px 4.3333333333px hsl(53, 100%, 50%), 90px -51.6666666667px hsl(227, 100%, 50%), 89px -323.6666666667px hsl(23, 100%, 50%), 149px -208.6666666667px hsl(290, 100%, 50%), -165px -107.6666666667px hsl(222, 100%, 50%), 53px -282.6666666667px hsl(64, 100%, 50%), 9px -189.6666666667px hsl(251, 100%, 50%), -169px 25.3333333333px hsl(280, 100%, 50%), -172px -371.6666666667px hsl(85, 100%, 50%), -201px -147.6666666667px hsl(8, 100%, 50%), -226px 82.3333333333px hsl(329, 100%, 50%), -40px -393.6666666667px hsl(29, 100%, 50%), -127px -42.6666666667px hsl(94, 100%, 50%), 81px -262.6666666667px hsl(116, 100%, 50%), 87px -179.6666666667px hsl(26, 100%, 50%), 33px 58.3333333333px hsl(345, 100%, 50%), 218px -149.6666666667px hsl(327, 100%, 50%), -161px -161.6666666667px hsl(13, 100%, 50%), 207px -162.6666666667px hsl(51, 100%, 50%), -78px -159.6666666667px hsl(291, 100%, 50%), 59px -20.6666666667px hsl(276, 100%, 50%), 230px -49.6666666667px hsl(339, 100%, 50%), 234px -9.6666666667px hsl(200, 100%, 50%), -242px 38.3333333333px hsl(254, 100%, 50%), -72px -0.6666666667px hsl(94, 100%, 50%), 63px 79.3333333333px hsl(86, 100%, 50%), 18px -350.6666666667px hsl(301, 100%, 50%), 118px -325.6666666667px hsl(54, 100%, 50%), -92px -95.6666666667px hsl(212, 100%, 50%), 123px 82.3333333333px hsl(49, 100%, 50%), 120px -400.6666666667px hsl(204, 100%, 50%), -211px -315.6666666667px hsl(115, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
