*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 30vh;
  min-height: 100vh;
}

.congratulation {
  display: block;
  padding-block: 3rem;
  padding-inline: 0.5rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  width: 70vw;
  text-align: center;
  text-wrap: balance;
  animation: 4s ease-out appear;
  opacity: 100%;
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content button {
  background: orange;
  border-radius: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.content button:hover {
  background: rgb(196, 127, 0);
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 243px -177.6666666667px hsl(339, 100%, 50%),
      -28px -26.6666666667px hsl(100, 100%, 50%),
      -132px -409.6666666667px hsl(48, 100%, 50%),
      -11px -180.6666666667px hsl(67, 100%, 50%),
      216px 49.3333333333px hsl(21, 100%, 50%),
      99px -203.6666666667px hsl(99, 100%, 50%),
      225px -73.6666666667px hsl(13, 100%, 50%),
      90px 5.3333333333px hsl(75, 100%, 50%),
      115px 15.3333333333px hsl(17, 100%, 50%),
      161px -322.6666666667px hsl(268, 100%, 50%),
      -124px -107.6666666667px hsl(113, 100%, 50%),
      187px 19.3333333333px hsl(270, 100%, 50%),
      -103px 11.3333333333px hsl(14, 100%, 50%),
      -190px -409.6666666667px hsl(72, 100%, 50%),
      -101px -393.6666666667px hsl(247, 100%, 50%),
      16px -307.6666666667px hsl(195, 100%, 50%),
      -244px -357.6666666667px hsl(90, 100%, 50%),
      25px -88.6666666667px hsl(79, 100%, 50%),
      -148px -118.6666666667px hsl(100, 100%, 50%),
      -233px -36.6666666667px hsl(240, 100%, 50%),
      161px -320.6666666667px hsl(102, 100%, 50%),
      -188px -165.6666666667px hsl(47, 100%, 50%),
      -21px -73.6666666667px hsl(249, 100%, 50%),
      -11px -218.6666666667px hsl(5, 100%, 50%),
      5px -141.6666666667px hsl(195, 100%, 50%),
      25px -143.6666666667px hsl(298, 100%, 50%),
      -19px 22.3333333333px hsl(339, 100%, 50%),
      -41px -139.6666666667px hsl(201, 100%, 50%),
      240px -34.6666666667px hsl(71, 100%, 50%),
      -241px -412.6666666667px hsl(122, 100%, 50%),
      237px -266.6666666667px hsl(11, 100%, 50%),
      -225px 50.3333333333px hsl(28, 100%, 50%),
      11px -190.6666666667px hsl(167, 100%, 50%),
      -153px -154.6666666667px hsl(182, 100%, 50%),
      -164px -360.6666666667px hsl(127, 100%, 50%),
      -83px 8.3333333333px hsl(278, 100%, 50%),
      -123px -3.6666666667px hsl(267, 100%, 50%),
      50px -3.6666666667px hsl(284, 100%, 50%),
      79px -394.6666666667px hsl(101, 100%, 50%),
      -130px -123.6666666667px hsl(156, 100%, 50%),
      -176px -80.6666666667px hsl(158, 100%, 50%),
      -166px -401.6666666667px hsl(146, 100%, 50%),
      223px -413.6666666667px hsl(177, 100%, 50%),
      -214px -291.6666666667px hsl(206, 100%, 50%),
      -139px -69.6666666667px hsl(177, 100%, 50%),
      -49px -36.6666666667px hsl(128, 100%, 50%),
      64px -356.6666666667px hsl(217, 100%, 50%),
      73px 69.3333333333px hsl(251, 100%, 50%),
      99px 30.3333333333px hsl(77, 100%, 50%),
      -97px -150.6666666667px hsl(108, 100%, 50%),
      26px -282.6666666667px hsl(216, 100%, 50%);
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 243px -177.6666666667px hsl(339, 100%, 50%),
      -28px -26.6666666667px hsl(100, 100%, 50%),
      -132px -409.6666666667px hsl(48, 100%, 50%),
      -11px -180.6666666667px hsl(67, 100%, 50%),
      216px 49.3333333333px hsl(21, 100%, 50%),
      99px -203.6666666667px hsl(99, 100%, 50%),
      225px -73.6666666667px hsl(13, 100%, 50%),
      90px 5.3333333333px hsl(75, 100%, 50%),
      115px 15.3333333333px hsl(17, 100%, 50%),
      161px -322.6666666667px hsl(268, 100%, 50%),
      -124px -107.6666666667px hsl(113, 100%, 50%),
      187px 19.3333333333px hsl(270, 100%, 50%),
      -103px 11.3333333333px hsl(14, 100%, 50%),
      -190px -409.6666666667px hsl(72, 100%, 50%),
      -101px -393.6666666667px hsl(247, 100%, 50%),
      16px -307.6666666667px hsl(195, 100%, 50%),
      -244px -357.6666666667px hsl(90, 100%, 50%),
      25px -88.6666666667px hsl(79, 100%, 50%),
      -148px -118.6666666667px hsl(100, 100%, 50%),
      -233px -36.6666666667px hsl(240, 100%, 50%),
      161px -320.6666666667px hsl(102, 100%, 50%),
      -188px -165.6666666667px hsl(47, 100%, 50%),
      -21px -73.6666666667px hsl(249, 100%, 50%),
      -11px -218.6666666667px hsl(5, 100%, 50%),
      5px -141.6666666667px hsl(195, 100%, 50%),
      25px -143.6666666667px hsl(298, 100%, 50%),
      -19px 22.3333333333px hsl(339, 100%, 50%),
      -41px -139.6666666667px hsl(201, 100%, 50%),
      240px -34.6666666667px hsl(71, 100%, 50%),
      -241px -412.6666666667px hsl(122, 100%, 50%),
      237px -266.6666666667px hsl(11, 100%, 50%),
      -225px 50.3333333333px hsl(28, 100%, 50%),
      11px -190.6666666667px hsl(167, 100%, 50%),
      -153px -154.6666666667px hsl(182, 100%, 50%),
      -164px -360.6666666667px hsl(127, 100%, 50%),
      -83px 8.3333333333px hsl(278, 100%, 50%),
      -123px -3.6666666667px hsl(267, 100%, 50%),
      50px -3.6666666667px hsl(284, 100%, 50%),
      79px -394.6666666667px hsl(101, 100%, 50%),
      -130px -123.6666666667px hsl(156, 100%, 50%),
      -176px -80.6666666667px hsl(158, 100%, 50%),
      -166px -401.6666666667px hsl(146, 100%, 50%),
      223px -413.6666666667px hsl(177, 100%, 50%),
      -214px -291.6666666667px hsl(206, 100%, 50%),
      -139px -69.6666666667px hsl(177, 100%, 50%),
      -49px -36.6666666667px hsl(128, 100%, 50%),
      64px -356.6666666667px hsl(217, 100%, 50%),
      73px 69.3333333333px hsl(251, 100%, 50%),
      99px 30.3333333333px hsl(77, 100%, 50%),
      -97px -150.6666666667px hsl(108, 100%, 50%),
      26px -282.6666666667px hsl(216, 100%, 50%);
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 243px -177.6666666667px hsl(339, 100%, 50%),
      -28px -26.6666666667px hsl(100, 100%, 50%),
      -132px -409.6666666667px hsl(48, 100%, 50%),
      -11px -180.6666666667px hsl(67, 100%, 50%),
      216px 49.3333333333px hsl(21, 100%, 50%),
      99px -203.6666666667px hsl(99, 100%, 50%),
      225px -73.6666666667px hsl(13, 100%, 50%),
      90px 5.3333333333px hsl(75, 100%, 50%),
      115px 15.3333333333px hsl(17, 100%, 50%),
      161px -322.6666666667px hsl(268, 100%, 50%),
      -124px -107.6666666667px hsl(113, 100%, 50%),
      187px 19.3333333333px hsl(270, 100%, 50%),
      -103px 11.3333333333px hsl(14, 100%, 50%),
      -190px -409.6666666667px hsl(72, 100%, 50%),
      -101px -393.6666666667px hsl(247, 100%, 50%),
      16px -307.6666666667px hsl(195, 100%, 50%),
      -244px -357.6666666667px hsl(90, 100%, 50%),
      25px -88.6666666667px hsl(79, 100%, 50%),
      -148px -118.6666666667px hsl(100, 100%, 50%),
      -233px -36.6666666667px hsl(240, 100%, 50%),
      161px -320.6666666667px hsl(102, 100%, 50%),
      -188px -165.6666666667px hsl(47, 100%, 50%),
      -21px -73.6666666667px hsl(249, 100%, 50%),
      -11px -218.6666666667px hsl(5, 100%, 50%),
      5px -141.6666666667px hsl(195, 100%, 50%),
      25px -143.6666666667px hsl(298, 100%, 50%),
      -19px 22.3333333333px hsl(339, 100%, 50%),
      -41px -139.6666666667px hsl(201, 100%, 50%),
      240px -34.6666666667px hsl(71, 100%, 50%),
      -241px -412.6666666667px hsl(122, 100%, 50%),
      237px -266.6666666667px hsl(11, 100%, 50%),
      -225px 50.3333333333px hsl(28, 100%, 50%),
      11px -190.6666666667px hsl(167, 100%, 50%),
      -153px -154.6666666667px hsl(182, 100%, 50%),
      -164px -360.6666666667px hsl(127, 100%, 50%),
      -83px 8.3333333333px hsl(278, 100%, 50%),
      -123px -3.6666666667px hsl(267, 100%, 50%),
      50px -3.6666666667px hsl(284, 100%, 50%),
      79px -394.6666666667px hsl(101, 100%, 50%),
      -130px -123.6666666667px hsl(156, 100%, 50%),
      -176px -80.6666666667px hsl(158, 100%, 50%),
      -166px -401.6666666667px hsl(146, 100%, 50%),
      223px -413.6666666667px hsl(177, 100%, 50%),
      -214px -291.6666666667px hsl(206, 100%, 50%),
      -139px -69.6666666667px hsl(177, 100%, 50%),
      -49px -36.6666666667px hsl(128, 100%, 50%),
      64px -356.6666666667px hsl(217, 100%, 50%),
      73px 69.3333333333px hsl(251, 100%, 50%),
      99px 30.3333333333px hsl(77, 100%, 50%),
      -97px -150.6666666667px hsl(108, 100%, 50%),
      26px -282.6666666667px hsl(216, 100%, 50%);
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 243px -177.6666666667px hsl(339, 100%, 50%),
      -28px -26.6666666667px hsl(100, 100%, 50%),
      -132px -409.6666666667px hsl(48, 100%, 50%),
      -11px -180.6666666667px hsl(67, 100%, 50%),
      216px 49.3333333333px hsl(21, 100%, 50%),
      99px -203.6666666667px hsl(99, 100%, 50%),
      225px -73.6666666667px hsl(13, 100%, 50%),
      90px 5.3333333333px hsl(75, 100%, 50%),
      115px 15.3333333333px hsl(17, 100%, 50%),
      161px -322.6666666667px hsl(268, 100%, 50%),
      -124px -107.6666666667px hsl(113, 100%, 50%),
      187px 19.3333333333px hsl(270, 100%, 50%),
      -103px 11.3333333333px hsl(14, 100%, 50%),
      -190px -409.6666666667px hsl(72, 100%, 50%),
      -101px -393.6666666667px hsl(247, 100%, 50%),
      16px -307.6666666667px hsl(195, 100%, 50%),
      -244px -357.6666666667px hsl(90, 100%, 50%),
      25px -88.6666666667px hsl(79, 100%, 50%),
      -148px -118.6666666667px hsl(100, 100%, 50%),
      -233px -36.6666666667px hsl(240, 100%, 50%),
      161px -320.6666666667px hsl(102, 100%, 50%),
      -188px -165.6666666667px hsl(47, 100%, 50%),
      -21px -73.6666666667px hsl(249, 100%, 50%),
      -11px -218.6666666667px hsl(5, 100%, 50%),
      5px -141.6666666667px hsl(195, 100%, 50%),
      25px -143.6666666667px hsl(298, 100%, 50%),
      -19px 22.3333333333px hsl(339, 100%, 50%),
      -41px -139.6666666667px hsl(201, 100%, 50%),
      240px -34.6666666667px hsl(71, 100%, 50%),
      -241px -412.6666666667px hsl(122, 100%, 50%),
      237px -266.6666666667px hsl(11, 100%, 50%),
      -225px 50.3333333333px hsl(28, 100%, 50%),
      11px -190.6666666667px hsl(167, 100%, 50%),
      -153px -154.6666666667px hsl(182, 100%, 50%),
      -164px -360.6666666667px hsl(127, 100%, 50%),
      -83px 8.3333333333px hsl(278, 100%, 50%),
      -123px -3.6666666667px hsl(267, 100%, 50%),
      50px -3.6666666667px hsl(284, 100%, 50%),
      79px -394.6666666667px hsl(101, 100%, 50%),
      -130px -123.6666666667px hsl(156, 100%, 50%),
      -176px -80.6666666667px hsl(158, 100%, 50%),
      -166px -401.6666666667px hsl(146, 100%, 50%),
      223px -413.6666666667px hsl(177, 100%, 50%),
      -214px -291.6666666667px hsl(206, 100%, 50%),
      -139px -69.6666666667px hsl(177, 100%, 50%),
      -49px -36.6666666667px hsl(128, 100%, 50%),
      64px -356.6666666667px hsl(217, 100%, 50%),
      73px 69.3333333333px hsl(251, 100%, 50%),
      99px 30.3333333333px hsl(77, 100%, 50%),
      -97px -150.6666666667px hsl(108, 100%, 50%),
      26px -282.6666666667px hsl(216, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 243px -177.6666666667px hsl(339, 100%, 50%),
      -28px -26.6666666667px hsl(100, 100%, 50%),
      -132px -409.6666666667px hsl(48, 100%, 50%),
      -11px -180.6666666667px hsl(67, 100%, 50%),
      216px 49.3333333333px hsl(21, 100%, 50%),
      99px -203.6666666667px hsl(99, 100%, 50%),
      225px -73.6666666667px hsl(13, 100%, 50%),
      90px 5.3333333333px hsl(75, 100%, 50%),
      115px 15.3333333333px hsl(17, 100%, 50%),
      161px -322.6666666667px hsl(268, 100%, 50%),
      -124px -107.6666666667px hsl(113, 100%, 50%),
      187px 19.3333333333px hsl(270, 100%, 50%),
      -103px 11.3333333333px hsl(14, 100%, 50%),
      -190px -409.6666666667px hsl(72, 100%, 50%),
      -101px -393.6666666667px hsl(247, 100%, 50%),
      16px -307.6666666667px hsl(195, 100%, 50%),
      -244px -357.6666666667px hsl(90, 100%, 50%),
      25px -88.6666666667px hsl(79, 100%, 50%),
      -148px -118.6666666667px hsl(100, 100%, 50%),
      -233px -36.6666666667px hsl(240, 100%, 50%),
      161px -320.6666666667px hsl(102, 100%, 50%),
      -188px -165.6666666667px hsl(47, 100%, 50%),
      -21px -73.6666666667px hsl(249, 100%, 50%),
      -11px -218.6666666667px hsl(5, 100%, 50%),
      5px -141.6666666667px hsl(195, 100%, 50%),
      25px -143.6666666667px hsl(298, 100%, 50%),
      -19px 22.3333333333px hsl(339, 100%, 50%),
      -41px -139.6666666667px hsl(201, 100%, 50%),
      240px -34.6666666667px hsl(71, 100%, 50%),
      -241px -412.6666666667px hsl(122, 100%, 50%),
      237px -266.6666666667px hsl(11, 100%, 50%),
      -225px 50.3333333333px hsl(28, 100%, 50%),
      11px -190.6666666667px hsl(167, 100%, 50%),
      -153px -154.6666666667px hsl(182, 100%, 50%),
      -164px -360.6666666667px hsl(127, 100%, 50%),
      -83px 8.3333333333px hsl(278, 100%, 50%),
      -123px -3.6666666667px hsl(267, 100%, 50%),
      50px -3.6666666667px hsl(284, 100%, 50%),
      79px -394.6666666667px hsl(101, 100%, 50%),
      -130px -123.6666666667px hsl(156, 100%, 50%),
      -176px -80.6666666667px hsl(158, 100%, 50%),
      -166px -401.6666666667px hsl(146, 100%, 50%),
      223px -413.6666666667px hsl(177, 100%, 50%),
      -214px -291.6666666667px hsl(206, 100%, 50%),
      -139px -69.6666666667px hsl(177, 100%, 50%),
      -49px -36.6666666667px hsl(128, 100%, 50%),
      64px -356.6666666667px hsl(217, 100%, 50%),
      73px 69.3333333333px hsl(251, 100%, 50%),
      99px 30.3333333333px hsl(77, 100%, 50%),
      -97px -150.6666666667px hsl(108, 100%, 50%),
      26px -282.6666666667px hsl(216, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */
